@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>Learn about <a href="https://github.com/trevol1">Personal Github Account</a>.</p>
</div>
